<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curriculum Vitae</title>
    <style>
        /* Center align the title */
        h1 {
            text-align: center;
        }

        /* Make the iframe responsive */
        iframe {
            width: 100%;
            height: 100vh; /* Set the height to fill the viewport */
        }
    </style>
</head>
<body>

<!-- Include the navigation bar -->
{% include 'navigation.html' %}

<h1>Curriculum Vitae</h1>
    
<!-- Embed the Google Doc -->
<iframe src="https://docs.google.com/document/d/e/2PACX-1vTE_Xkh0mECqQ_GSBO6P9YEVe9nE5tnABMvdlnzXcjjFFYOmP3UsYA8585XV8150F4qcS6XhNan1wrb/pub?embedded=true"></iframe>
</body>
</html>
